.dashboard {
  .panel-heading {
    padding: 5px 15px;
  }

  .panel-body {
    padding: 15px 15px 5px 15px;
  }

  .my-honey {
    .progress {
      margin: 5px 0 0 0;
    }
  }
  .profile .profile-badge {
    margin: 0 5px 5px 0;
  }
}
