<div class="dashboard">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-2">
        <div class="center-blocked text-center profile">
          <img class="profile-pic" src="http://placehold.it/150x150" title="Profile picture">
          <h4><strong>Vibhor Mahajan</strong></h4>
          <img title="Badge" class="profile-badge" ng-src="http://placehold.it/30x30" alt="badge" ng-repeat="i in [1,2,3,4,5,6,7,8]"></img>
          <p>
            Sharing honey with your fellow bees for the first time unlocks the <strong>Mini Bee</strong> badge. Doing it the next 24 hours to win 10ml honey for Teamwork.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-warning">
          <div class="panel-heading"><h4>Distribute Fresh Honey!</h4></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <honey volume="10ml"></honey>
              </div>
              <div class="col-md-9">
                <form class="form-horizontal" role="form" ng-submit="shareHoney(honeyShareInfo)">
                  <div class="form-group">
                    <lable for="share-honey-who" class="control-label col-sm-2">To:</lable>
                    <div class="col-sm-10">
                      <ui-select id="share-honey-who" ng-model="person.selected">
                        <ui-select-match placeholder="Who do you want to share it with?">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="person in people | filter:$select.search">
                          <div class="row">
                            <div class="col-md-2"><img src="http://placehold.it/40x40"/></div>
                            <div class="col-md-10">
                              <div ng-bind-html="person.name | highlight: $select.search"></div>
                              <small>
                                email: {{person.email}}
                              </small>
                            </div>
                          </div>
                        </ui-select-choices>
                      </ui-select>
                    </div>

                  </div>
                  <div class="form-group">
                    <lable for="share-honey-reason" class="control-label col-sm-2">Reason:</lable>
                    <div class="col-sm-10">
                      <input id="share-honey-reason" type="text"
                             placeholder="Reason? eg. increasing profitability by 20%." class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <lable for="share-honey-core-values" class="control-label col-sm-2">Values:</lable>
                    <div class="col-sm-10">
                      <ui-select id="share-honey-who" ng-model="coreValue.selected">
                        <ui-select-match placeholder="Core values demonstrated">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="value in coreValues | filter:$select.search">
                          <div ng-bind-html="value | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <input type="submit" class="btn btn-primary"/>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-warning my-honey">
          <div class="panel-body">
            <div class="row center-aligned my-honey-pots">
              <div class="col-md-3">
                <honey volume="60l"></honey>
                <strong>Your Honey</strong>
              </div>
              <div class="col-md-9">
                <table class="table">
                  <tbody>
                  <tr ng-repeat="thisCoreValue in coreValues">
                    <td class="col-md-4 text-right"><small ng-bind="thisCoreValue"></small></td>
                    <td class="col-md-8" ng-init="yourHoney = randomNumber()">
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{yourHoney}}"
                             aria-valuemin="0" aria-valuemax="100" style="width: {{yourHoney}}%"></div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <p>
              Congratulations! You can redeem your honey for <a href="">18 items</a> in the rewards store...
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <ul class="activity">
          <li class="line-item card" ng-repeat="feedItem in activityFeed">
            <div class="row">
              <div class="col-md-1 text-center">
                <a popover="Upvote" popover-placement="left" popover-trigger="mouseenter" ng-click="upvote(feedItem)"><i class="glyphicon glyphicon-chevron-up"></i></a>
                <a popover="Downvote" popover-placement="left" popover-trigger="mouseenter" ng-click="downvote(feedItem)"><i class="glyphicon glyphicon-chevron-down"></i></a>
              </div>
              <div class="col-md-2"><img src="http://placehold.it/50x50" title="Profile picture"></div>
              <div class="col-md-9">
                <a href="" ng-bind="feedItem.receiver"></a> received honey from
                <a href="" ng-bind="feedItem.provider"></a>
                for <strong><span ng-bind="feedItem.reason"></span></strong>
                <br/>
                <span class="text-muted timestamp" ng-bind="feedItem.createdAt"></span>
                <a href=""><i class="glyphicon glyphicon-new-window"></i></a>
              </div>
            </div>
          </li>
        </ul>
        <div class="center-aligned center-block">
          <a ng-href="#/buzz" class="btn btn-primary btn-sm">more ...</a>
        </div>
      </div>
    </div>
  </div>
</div>
