<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="jumbotron glass_effect">
      <h1>Hello busy bee!</h1>

      <p class="lead">
        <img src="../images/bee/Bee_clip_art_small.png" alt="I'm Yeoman"><br>
        Share honey and goodness with your fellow bees.<br/>Get rewarded together.
      </p>

      <p><a class="btn btn-lg btn-success" ng-href="#/dashboard">Splendid! Lets do it <span
          class="glyphicon glyphicon-ok"></span></a></p>
    </div>

    <div class="row marketing">
      TODO: Messaging
      <h4>Empoyees: Get the recognition you deserve</h4>

      <p>
      </p>

      <h4>Managers: Motivate your employees</h4>

      <p>
      </p>

      <h4>Owners: Drive growth through the core values of your organization</h4>

      <p></p>
    </div>
  </div>
</div>
